/*
* Date: 13/11/2018
*/
.content_actualite {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 100px;
  grid-template-rows: 1000px;
}

.p_actualite {
  margin-top: 10px;


}

.video {
  grid-row: 1;
  grid-column: 1;

}

.text_content_actualite {
  grid-row: 1;
  grid-column: 2;

}
