/*
* Created by Helium Team
* Date: 12/11/2018
*/

* {
  box-sizing: border-box;
}

/* Configaration mobile */




/* Desktop */
@media (min-width: 320px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1000px 1000px 1000px 1000px 1000px;
    grid-template-areas: "header"
                         "home"
                         "produits"
                         "actualites"
                         "footer";
  }

  /* Arrivée page */

  .menu {
    grid-area: header;
    background-color: red;
  }

  .section_home_desktop {
    grid-area: home;
    background-color: green;
  }

  /* PRODUITS */
  .section_produits {
    grid-area: produits;
    background-color: cyan;
  }

  /* ACTUALITES */
  .section_actualites {
    grid-area: actualites;
    background-color: yellow;

    /* Bébé grid ACTUALITES */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    grid-template-areas: "header"
                         "home"
                         "produits"
                         "actualites"
                         "footer";

  }


  footer {
    grid-area: footer;
    background-color: red;
}
